@using System.Web.UI.WebControls
@model List<Tagger.Data.Models.TagCatsTableRow>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h4>Tagger Categories</h4>
@{
    int crntFolder = (int)Model[0].TagNameId;
    for (int i = 1; i < Model.Count; i++)
    {
        while (crntFolder == Model[i].TagParentId)
        {
            <ul>
                @Repeat(Model[i].TagName, 3, @<li>@item.Name</li>)
            </ul>
        }
    }
}
